* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background: #e3e3e3;
  
}

.aside-bar {
  
  /* font-size: 1.4rem; */
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  width: 160px;
  background: #e3e3e3;
  padding: 10px;
  
}

.aside-bar__session {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background: #d1d0d0;
  gap: 10px;
  margin-bottom: 10px;
}

.aside-bar__session li {
  list-style: none;
  padding: 4px 0;
}

.aside-bar__session a {
  text-decoration: none;
  color: black;
  font-size: .9rem;
  padding: 10px;
}
.aside-bar__session h3 {
  font-size: .8rem;
  border-radius: 10px;
}

.botton .new-colection{
  display: flex;
  flex-direction: column;
  gap:15px;
  background: #a4a4a4;
  font-size: .6rem;
  border-radius: 10px;
  padding:15px 5px;
}
.new-colection a {
  
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background: #8c8c8c;
  color: white;
}
.config i,
.config a {
  
  padding: 0;
  font-size: .5rem;
}
.botton{
  height: 370px;
}