

.aside-bar {
  /* border: 2px solid black; */
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  width: 260px;
  background: var(--background);
  padding: 10px;
  height: 100dvh;
}

.aside-bar__session {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background: var(--background-box);
  gap: 10px;
  margin-bottom: 10px;
}

.aside-bar__session li {
  list-style: none;
  padding: 4px 0;
}

.aside-bar__session a {
  text-decoration: none;
  color: var(--color);
  font-size: .9rem;
  padding: 10px;
}
.aside-bar__session h3 {
  font-size: .8rem;
  border-radius: 10px;
}

.botton .new-colection{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap:15px;
  background: var(--background-destaque-box);
  font-size: .6rem;
  border-radius: 10px;
  padding:15px ;
}
.new-colection a {
  
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background: var(--background-destaque-element);
  color: white;
}
.config i,
.config a {
  
  padding: 0;
  font-size: 1rem;
}
/* .botton{
  /* height: 350px; */
