.collection{
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.collection:hover{
    transform: scale(1.01);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.525);
}

.collection img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.collection h4{
    margin: 10px 0 5px;
}

.collection p{
    color: #555;
}
