.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background-image:linear-gradient(to bottom, var(--background-box), var(--background-destaque-box) );
    padding: 10px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-container div a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 10px;
}