
.container{
    background-color: var(--background);
    
    margin: 0;
    /* border:0; */
    
    margin-left: 250px;
    
    

}

.header{
    
    padding: 10px;
    border-radius: 8px;
    margin:10px;
    background: var(--background-box);
    
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .navegation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navegation button{
    
    align-items: center;
    width: 30px;
    justify-content: center;
    height: 30px;
    background-color:var(--background-destaque-element);
    
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.navegation .search {
    padding: 0 10px ;
    background-color: var(--background-destaque-element);
    display: flex;

    
    align-items: center;
    border-radius: 40px;
    
    width: 300px ;

    
}

.search input{
    background-color: transparent;
    border: none;
    padding: 0 10px;
    color:var(--color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    min-width: 90%;
    
}

.searsh input:hover{
    background-color: var(--background-destaque-box);
    border-radius: 5px;
    border: none;
    outline: none;
   
}


.login-inscrever{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.login-enter{
    background-color: var(--background-destaque-element);
    padding:5px 15px;
    /* border: 1px solid #000; */
    color: #000;
    width: 100px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}
