.main{
    /* border: 1px solid #000;  */
    
    margin: 10px;
    border-radius: 10px;
    background: var(--background-box);
    padding: 10px;
    /* height: 100vh; */
    /* overflow-y: auto; */
}
.main-container h2{
    font-size:.8rem;
    font-weight: 600;
    background-color: var(--background-destaque-box);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-colection{
    max-height: 68vh;
    /* margin: 24px; */
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: space-between;
}

.main-colection::-webkit-scrollbar{
    width: 1px;
}
.main-colection::-webkit-scrollbar-thumb{
    background-color: transparent;
}



