.main{
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
    background: var(--background-box);
    padding: 10px;
  
}
.main-container h2{
    font-size:.8rem;
    font-weight: 600;
    background-color: var(--background-destaque-box);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-container .main-colection{
    max-height: 68vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    gap: 16px;
    padding: 10px;

    border: 5px solid red;
}

.main-colection::-webkit-scrollbar{
    width: 1px;
}
.main-colection::-webkit-scrollbar-thumb{
    background-color: transparent;
}

#nome-colecao{
    font-size: 1.5r em;
    font-weight: 600;
    background-color: var(--background-destaque-box);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

