
.aside-bar {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  width: 200px; 
  background: var(--background);
  padding: 10px;
  height: 100dvh;
}

.aside-bar__session {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: var(--background-box);
  gap: 10px;
  margin-bottom: 10px;
}

.aside-bar__session li {
  list-style: none;
  padding: 4px 0;
}

.aside-bar__session a {
  text-decoration: none;
  color: var(--color);
  font-size: .9rem;
  padding: 10px;
  padding-left: 0;
}

.aside-bar__session i {
  margin-right: 15px;
}

.aside-bar__session h3 {
  font-size: .8rem;
  border-radius: 10px;
}

 .new-colection {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap:15px;
  background: var(--background-destaque-box);
  font-size: .6rem;
  border-radius: 10px;
  padding:15px ;
}

#new-lib{ 
  border-radius: 8px;
  border: none;
  height: 40px;
}

.new-colection a { 
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  background: var(--background-destaque-element);
  color: white;
}

.config i,
.config a {
  padding: 0;
  font-size: 1rem;
}

.conf{
    display: none;
}

.conf.open{
    display: block;
}

.conf{
  width: 180px;
    top: 444px;
    left: 10px;
    display: none;
    position: absolute;
    background: var(--background-box);
    padding: 15px;
    padding-left: 30px;
    border-radius: 0 0 8px 8px;
}

#toggle i{
  width: 30px;
  background-color: var(--background-box);
  border-radius: 8px;
  margin: 0;
  color: var(--color);
  font-size: 1rem;
  cursor: pointer;
}