
.container{
    background-color: var(--background);   
    margin: 0;  
    margin-left: 190px;
}

#btnBurguer{
    display: none;
    color: var(--color);
    font-size: 30px;
    
    cursor: pointer;
   
}

.header{
    
    padding: 15px;
    border-radius: 8px;
    margin:10px;
    background: var(--background-box);
    
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .navegation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navegation button{
    
    align-items: center;
    width: 30px;
    justify-content: center;
    height: 30px;
    background-color:var(--background-destaque-element);
    
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.navegation .search {
    padding: 0 10px ;
    background-color: var(--background-destaque-element);
    display: flex;

    
    align-items: center;
    border-radius: 40px;
    
    max-width: 100% ;

    
}

.search input{
    background-color: transparent;
    border: none;
    padding: 0 10px;
    color:var(--color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    
    
}

.searsh input:hover{
    background-color: var(--background-destaque-box);
    border-radius: 5px;
    border: none;
    outline: none;
   
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s; /* Truque para manter transparente */
}


.login-sair{
    color:var(--color);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-style: italic;
    font-weight: 100;
}
.login-sair:hover{
    
    text-decoration: underline;
}

.login img{
    background-color: var(--background-destaque-element);
    padding:1px 1px;
    /* border: 1px solid #000; */
    color: #000;
    width: 38px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-name {
    color: var(--color);
    background-color: var(--background-box);
    padding:4px 20px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    transform: translateX(20px); /* Começa 50px para a direita */
    pointer-events: none;        /* Impede cliques enquanto invisível */
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transição suave de retorno */
    position: absolute;
    right: 80px;
    top: 29px;
}

/* Estado Ativo (Desliza para a esquerda e aparece) */
.user-name.active {
    opacity: 1;
    transform: translateX(0);    /* Retorna para a posição original */
    pointer-events: auto;        /* Habilita cliques */
}

/* Ajuste no efeito de clique do ícone */
#usuario {
    /* cursor: pointer; */
    transition: transform 0.5s ease;
}

#usuario:active {
    /* Scale é mais natural para clique que Translate */
    transform: scale(0.95); 
}
.user-name p{
    font-weight: bolder;
    font-size: 1.2rem;
}