/* tema escuro (padrão) */
:root{
    --background:#070707;
    --background-box:#2e2e2e;
    --background-destaque-box:#6c6c6c;
    --background-destaque-element:#6a6969fa;
    --color:#f6f5f5;
}

/* tema claro */
body.light{
    --background:#f4f4f4;
    --background-box:#dcdcdc;
    --background-destaque-box:#ababab;
    --background-destaque-element:#919191fa;
    --color:#000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .interface {
  padding: 1px;
  background-color: var(--background);
} */

h1,h2,h3, i{
  color: var(--color);
}
a, button {
 display: inline-block;
 transition: transform 0.2s ease-in-out;
}
a:hover, button:hover, span:hover{
  transition: cubic-bezier();
  transform: scale(1.05);
}

  body{
    background-color: var(--background);
  }
  